<footer class="footer bg-dark py-3 mt-auto">
    
    <div class="mb-3 d-flex">
        <div class="ms-3 d-flex flex-column flex-md-row" >            
            <a href="#" class="me-3">FAQs</a>
            <a href="#" class="me-3">Privacy Policy</a>
            <a href="#" class="me-3">Cancellations & Refunds</a>
            <a href="#"class="me-3">Terms of Service</a>
        </div>
        <div class="ms-auto d-flex flex-column flex-md-row">
            <a href="#" class="me-3">About Us</a>
            <a href="#" class="me-3">Contact Us</a>
        </div>
    </div>

    <span class="text-muted ms-3">&copy;BookMySport 2021</span>

</footer>