<footer class="footer bg-dark py-3 mt-auto">
    
    <div class="d-flex mb-3">
        <div class="ms-5" >            
            <a href="">FAQs &nbsp&nbsp</a>
            <a href="">Privacy Policy &nbsp&nbsp</a>
            <a href="">Cancellations & Refunds &nbsp&nbsp</a>
            <a href="">Terms of Service &nbsp&nbsp</a>
        </div>
        <div class="ms-auto me-5">
            <a href="">About Us &nbsp&nbsp</a>
            <a href="">Contact Us</a>
        </div>
    </div>

    <span class="text-muted ms-5">&copy;BookMySport 2021</span>

</footer>