<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/">BookMySport</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <a class="nav-link" href="/arenas">All Arenas</a>
        <% if(loggedUser && loggedUser.role==="owner"){ %> 
          <a class="nav-link" href="/arenas/new">Add Arena</a>
        <% } %> 
        <a class="nav-link" href="#">Offers</a>
        <a class="nav-link" href="#">Partner with Us</a>
      </div>

      <div class="navbar-nav ms-auto">
        <% if(!loggedUser){ %> 
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% } else { %> 
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%=loggedUser.username%></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/users/<%=loggedUser._id%>/bookings">My Bookings</a></li>
            <li><a class="dropdown-item" href="/users/<%=loggedUser._id%>/profile">My Profile</a></li>
          </ul>
        </li>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>     
      </div>
        
    </div>
  </div>
</nav>