<%- layout('./layout/boilerplate') %>

<h3>Ready to find <strong>Sports venues</strong> around you?</h3>

<input type="search" placeholder="search for a venue name or city" name="searchstring"><span>Locate Me</span> 