<%- layout('./layout/boilerplate.ejs') %>

  <div class="w-50 mx-auto d-flex flex-column align-items-center" >
    
    <div class="alert alert-danger text-center" role="alert">
        <h4 class="alert-heading"><i class="fas fa-exclamation-triangle"></i>&nbsp; ERROR <%=err.statusCode%>: <%=err.message%></h4>
        <!-- remove stack in production -->
        <p><%=err.stack %></p>
    </div>
    
    
    
   
   
  </div>
