<%- layout('./layout/boilerplate.ejs') %>

<div class="w-50 mx-auto needs-validation text-center">
    <h1>Password Reset</h1>
    <p class="mt-5">Password recovery email sent to <%=email%>. Please follow instructions given in the email.</p>
    
</div>

