<!-- User forgot password. We generated a forgotten password reset link & sent it as an email to the user's email id. This page gives this information to the user. -->

<%- layout('./layout/boilerplate.ejs') %>

<div class="w-50 mx-auto needs-validation text-center my-5">
    <h1 class="mb-5">Password Reset</h1>
    <p>Password recovery email has been sent to <%=email%>. </p>
    <p>Please follow instructions given in the email to reset your password.</p>
    
</div>

