<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Arenas</title>
</head>
<body>
    <div>
        <form method="GET" action="/list" >
            <input class="search" type="search" placeholder="Search" aria-label="Search" name="search">
            <button>Go</button> 
        </form>
        </div>
    <%if(noMatch!==null){%>
        <h1>No matches found for <%=noMatch%>!</h1>
    <% }%>
    <% if(noMatch==null){%>
      <h1>Arenas in Ontario, Canada</h1>
    <% }%> 
   <ul>
       <%for(let arena of allArenas){%>
        <li><%=arena.name%> in <%=arena.location%></li>
       <%}%>
   </ul>

   
</body>


</html>