<%- layout('./layout/boilerplate.ejs') %>

<form method="POST" action="/login" class="w-50 mx-auto needs-validation mb-3" novalidate>
    <h1 class="text-center">Enter login details:</h1>
    <div class="mb-3">
        <label for="username">Username:</label>
        <input class="form-control" type="text" name="username" id="username" required>
        <div class="invalid-feedback">
            Required!
        </div>
    </div>
    
    <div class="mb-3">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" id="password" required >
        <div class="invalid-feedback">
            Required!
        </div>
    </div>
     


    <button type="submit" class="btn btn-success my-3 me-3">Login</button>
    <a href="/forgot" class="btn btn-primary">Forgot Password ?</a>
</form>

