<%- layout('./layout/boilerplate.ejs') %>

    

    <form method="POST" action="/arenas" class="w-75 mx-auto needs-validation" enctype="multipart/form-data" novalidate>
        <h1 class="text-center">Enter Details of New Arena</h1>
        <div class="form-group mb-3">
            <label for="name">Enter Name:</label>
            <input class="form-control" type="text" name="arena[name]" id="name" required>
            <div class="invalid-feedback">
                Required!
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="location">Enter Location:</label>
            <input class="form-control" type="text" name="arena[location]" id="location" required>
            <div class="invalid-feedback">
                Required!
            </div>
        </div>

        


        <div class="form-group mb-3"><strong>Sports Offered:</strong> (Pick atleast one)
            <div class="form-check">
                <input class="form-check-input sports" type="checkbox" value="Badminton" id="Badminton" name="arena[sports]">
                <label class="form-check-label" for="Badminton">
                    Badminton
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input sports" type="checkbox" value="Baseball" id="Baseball" name="arena[sports]">
                <label class="form-check-label" for="Baseball">
                    Baseball
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input sports" type="checkbox" value="Basketball" id="Basketball" name="arena[sports]">
                <label class="form-check-label" for="Basketball">
                    Basketball
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input sports" type="checkbox" value="Boxing" id="Boxing" name="arena[sports]">
                <label class="form-check-label" for="Boxing">
                    Boxing
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input sports" type="checkbox" value="Cricket" id="Cricket" name="arena[sports]">
                <label class="form-check-label" for="Cricket">
                    Cricket
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input sports" type="checkbox" value="Football" id="Football" name="arena[sports]">
                <label class="form-check-label" for="Football">
                    Football
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input sports" type="checkbox" value="IceHockey" id="IceHockey" name="arena[sports]">
                <label class="form-check-label" for="IceHockey">
                    IceHockey
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input sports" type="checkbox" value="Yoga" id="Yoga" name="arena[sports]">
                <label class="form-check-label" for="Yoga">
                    Yoga
                </label>
            </div>    
        </div>

        <div class="form-group mb-3">
            <label for="price">Enter price per hour:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
            <input class="form-control" type="number" name="arena[price]" id="price" required>
            <div class="invalid-feedback">
                Required!
            </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="timing">Enter Timings:</label>
            <input class="form-control" type="text" name="arena[timing]" id="timing" required>
            <div class="invalid-feedback">
                Required!
            </div>
        </div>

        
        <div class="form-group mb-3">
            <label for="description">Enter Description:</label>
            <textarea class="form-control" name="arena[description]" id="description" rows="3" required></textarea>
            <div class="invalid-feedback">
                Required!
            </div>
        </div>

        <!-- <div class="form-group mb-3">
            <label for="image">Enter Image URL:</label>
            <input class="form-control" type="text" name="arena[image]" id="image" required>
            <div class="invalid-feedback">
                Required!
            </div>
        </div> -->
        <div class="form-group mb-3">
            <label for="image" class="form-label">Add image(s):</label>
            <input class="form-control" type="file" name="image" id="image" onchange="validateFileSize(this), validateFileNumber(this)" multiple required>
            <div class="invalid-feedback">
                This campground would look much better with a picture!
            </div>
        </div>

        
        <button type="submit" class="btn btn-primary my-3">Submit</button>
        <a href="/arenas/list" class="btn btn-dark">Cancel</a>
    </form>
    


    


