 /* body{
    background: url('https://images.unsplash.com/photo-1542446633-362158ea0052?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8') top no-repeat;
    background-size: 150%;
} 
main{
    min-height: 20vh;
    display: flex;
   justify-content: center;
   align-items: center;
   /* border:2px solid red; */
/* } */

main{
  min-height: 10vh;  
  background-color: #0093E9;
background-image: linear-gradient(112deg, #0093E9 0%, #80D0C7 100%);
  
   display: flex;
   
   justify-content: center;
   align-items: center;
}   
h1{
  font-size: 4rem;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  padding-top: 0;
}
body {
  margin: 0;
}
.panels{
    min-height: 80vh;
    overflow: hidden;
    display:flex;
    
  }
  
  .panel {
    background-color: #0093E9;
     color: white;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;

    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 150;
    background-size: cover;
    background-position: center;
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .panel.open {
    font-size: 6rem;
    flex:3;
  }

  .panel1 { background-image:url(https://images.unsplash.com/photo-1618862142300-92ff4afc72ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80); }
  .panel2 { background-image:url(https://images.unsplash.com/photo-1550035213-d042e26b45e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80); }
  .panel3 { background-image:url(https://images.unsplash.com/photo-1593164842264-854604db2260?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80); }
  .panel4 { background-image:url(https://images.unsplash.com/photo-1622659097509-4d56de14539e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80); }
  .panel5 { background-image:url(https://images.unsplash.com/photo-1559309106-ed14040fd35d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80); }

  /* Flex Children */
  .panel > * {
    margin: 0;
    width: 100%;
    transition: all 0.5s;
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1 0 auto;
  }

  .panel p {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  }
  .panel p:first-child{
    transform:translateY(-100%);
  }
  
  .panel p:last-child{
  transform:translateY(100%);
  }
  

  .panel.active p:first-child{
    transform:translateY(0);
    font-size:4rem;
  }
  
  .panel.active p:last-child{
      transform:translateY(0);
      font-size:4rem;
  }
